<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="main.css" />
</head>

<body>
    <h1>Adriana Millares</h1>
    <div>
        <h3>Log in</h3>
        <hr>
        <form action="/login" method="POST"><label><strong>usuario</strong></label><br><input type="text" name="usuario"><br><br><label><strong>Contraseña</strong></label><br><input type="password" name="password"><br><br><input id="boton"
                type="submit" value="Ingresar"></form>
    </div>
</body>

</html>