<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Peliculas</title>
    <link rel="stylesheet" href="main.css" />
</head>

<body>
    <h1>Adriana Millares</h1>
    <div>
        <h3>Agregar Peliculas</h3>
        <hr>
        <form action="AgregarPelicula" method="POST"><label><strong>Ingrese el nombre de la pelicula</strong></label><br><br><input type="text" name="nombre"><br><br><input id="boton" type="submit"
                value="Agregar una pelicula"></form>
    </div>
</body>

</html>