body{
    background-color: whitesmoke;
    text-align: center;
}

button{
    padding: 1%;
    border-radius: 4px;
    border: solid blue 1px;
    background-color: white;
    color: blue;
}

div{
    box-shadow: 0px 8px 8px rgba(0,0,0,0.2);
    background-color: whitesmoke;
    border-radius: 4px;
    margin: 15px;
    display: flexbox;
    border-top: solid px;
}
li{
    text-align: center;
}